.header-color {
  background-color: #fdd835;  /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to right, #ffffff, #fdd835);  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to right, #fdd835, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#text {
  color: black;
  font-size: 20px;
}

.home-bg {
  background-color: #fdd835;
  padding: 40px;
  height: 100%;
  min-height: 100%;
  width: 100%;
  font-family: Google Sans,sans-serif;
  display: inline-block;
}
#smile {
  display: block;
  padding-top: 10em;
  margin-left: auto;
  margin-right: auto;
}

#h1d {
  color: #5c4037;
  font-size: 31px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

#p1d {
  padding-top: 60px;
  color: #85391e;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: .75px;
  text-align: center;
}

#btnsd {
  -ms-flex-align: center;
    align-items: center;
    background-color: #ff5622;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    -ms-flex-pack: center;
    justify-content: center;
    letter-spacing: .8px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: 275px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    margin-top: 4em;
    pointer-events: all;
}

#plate {
  display: block;
  height: 600px;
  width: 670px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
